In [1]:
import pandas as pd

In [2]:
boston_df = pd.read_csv(r"D:\Edureka\DS&ML_internship\Batch2_Code_Notebooks\boston_house_price_dataset2\boston.csv")

In [3]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [7]:
boston_df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677082,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
CHAS,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
MEDV,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000

**1. Identify the target variable in your dataset.**

- MEDV is the target variable in the Boston House Price dataset.

**2. Separate the features(X) and the target variable(y)**

In [8]:
X = boston_df.drop("MEDV",axis=1)
y = boston_df["MEDV"]

In [9]:
X.shape

(506, 13)

In [10]:
y.shape

(506,)

**3. Split our dataset into train and test datasets**

In [11]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state= 21)

In [20]:
print("Shape of the train dataset features")
print(X_train.shape)
print("Shape of the test dataset features")
print(X_test.shape)

Shape of the train dataset features
(404, 13)
Shape of the test dataset features
(102, 13)

In [21]:
print("Shape of train set target")
print(y_train.shape)
print("Shape of test set target")
print(y_test.shape)

Shape of train set target
(404,)
Shape of test set target
(102,)

# Building the Multiple Linear Regression model
- Step 1 : Import a model of our choice.
- Step 2 : Instantiate an estimator object which contains the ML model.
- Step 3 : Fit the ML model on the given data (train set)
- Step 4 : Use the model on the test set for predictions.
- Step 5 : Evaluate your model using appropriate evaluation metrics.

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
#instatiating the estimator object
model_linreg = LinearRegression()

In [24]:
model_linreg.fit(X_train,y_train) #supervised Machine Learning approach

LinearRegression()

In [25]:
print("The intercept for this Multiple Linear Regression model on the boston dataset is",
     model_linreg.intercept_)

The intercept for this Multiple Linear Regression model on the boston dataset is 40.653176529790954

In [27]:
print("The regression co-efficients of the Multiple Linear Regression model are:")
print("=========================================================================")
print(model_linreg.coef_)

The regression co-efficients of the Multiple Linear Regression model are:
=========================================================================
[-8.77422649e-02  4.87770336e-02  1.94746142e-02  3.06314365e+00
 -1.84821160e+01  3.34704170e+00  3.22024333e-03 -1.42569490e+00
  3.25184188e-01 -1.20259158e-02 -1.05582832e+00  1.07682087e-02
 -5.38356500e-01]

In [30]:
print(X.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [31]:
y_test_pred = model_linreg.predict(X_test) #pass only the test set features

In [32]:
print(y_test_pred)

[15.31156753 15.32418722 26.89085511 37.38487578 33.37521954 12.47788473
 25.66150052 30.22315683 33.74301138 18.81683527 23.88929321 16.72595084
 28.69709278  9.23230063 18.90773133 27.88573498 15.89506169 29.20232576
  3.88332235 17.68200542 20.8191842  26.31504103 19.33169886  2.19220243
 20.38094353 34.07653064 25.06164648 31.0391338  16.89541457 24.78433121
 25.05924042 18.9848461  33.69821141 13.27514144 27.64403169 30.81484939
 34.89386623 21.37297075 21.30095973 17.67161922 19.31199626 33.32238917
 24.5035588  25.2735153  22.02939631 20.48623141 30.03761787 21.20814046
 30.71166953 23.45485205 34.13332772 14.9680039  40.84817156 17.01102777
 13.89629206 11.00003214  8.18503156 23.19580513 22.39930775 27.61299186
 17.19450364 35.19323298 24.66336773 22.45853267 35.19214376 36.6617584
 29.25000933 19.48608867 21.3253395  19.47563157 12.42510514 24.75177729
 16.11415106 27.37869939 28.98584705 24.43040194 32.41743948 20.26488829
 25.33918485 15.06034042 21.03466407 20.47965125 27.74070307 15.57541646
 15.87203924 24.85079149 35.90336492 26.14852951 15.54004282 25.15637782
 17.76537398  8.50943783 40.55228316 13.90422205 31.37165539 14.73264839
 14.36077848 20.0279116  17.51380241 29.1722781  16.90462114 24.76729582]

In [34]:
actual_vs_pred_df = pd.DataFrame({'Actual': y_test, 'Predicted' : y_test_pred})

In [35]:
actual_vs_pred_df.head(10)

     Actual  Predicted
455    14.1  15.311568
142    13.4  15.324187
311    22.1  26.890855
232    41.7  37.384876
290    28.5  33.375220
20     13.6  12.477885
347    23.1  25.661501
219    23.0  30.223157
57     31.6  33.743011
61     16.0  18.816835

In [36]:
actual_vs_pred_df.tail(10)

     Actual  Predicted
262    48.8  40.552283
403     8.3  13.904222
178    29.9  31.371655
354    18.2  14.732648
427    10.9  14.360778
486    19.1  20.027912
468    19.1  17.513802
302    26.4  29.172278
244    17.6  16.904621
321    23.1  24.767296

**Evaluating the MLR model**

In [37]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [40]:
print("The RMSE value of the MLR model on the test dataset is: ")
print(np.sqrt(mean_squared_error(y_test, y_test_pred))) #actual values,predicted values

The RMSE value of the MLR model on the test dataset is:
5.179324335658026

In [44]:
print("The R2 score of the MLR model on the test dataset is:")
print(model_linreg.score(X_test,y_test))

The R2 score of the MLR model on the test dataset is:
0.7149364161392205

From the above R2 score value, we can infer that our model is able to fit 71.4% of the data points present in the test dataset.

# End of day1 regression